@import url('https://fonts.cdnfonts.com/css/tikiisland');


:root {
    --accent-dark: #603913;
    --accent: #F7931E;
    --accent-dark-hover: #F15A24;
    --accent-green: #39A935;
    --accent-green-light: #8DC63F;
    --card-bg: #ffffff;
    --bg-page: #1e6150;
    --text: #111;
    --text-secondary: #333;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-tiki: 'TikiIsland';
    --gold-gradient: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                     radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

body {
    font-family: var(--font-family);
    background-color: var(--bg-page);
    color: var(--text);
    margin: 0;
    padding: 20px;
    padding-top: 80px;
}

h1, h2, h3 {
    color: var(--accent-dark);
    margin-bottom: 10px;
}

p {
    font-family: var(--font-family);
    font-size: 1rem;
    color: var(--text-secondary);
    margin: 0 0 10px;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
    height: 60px;
    background: linear-gradient(#8A4411 , #A0653B , #D0884A );
    color: var(--accent);
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    z-index: 1000;
}

.top-bar h1 {
    margin: 0;
    font-size: 20px;
    color: var(--accent-dark);
}

.top-bar nav {
    display: flex;
    align-items: center;
    gap: 20px; 
}

nav a {
    text-decoration: none;
    font-weight: 500;
    padding: 8px 12px;
    display: block;
    transition: background 0.2s ease;
    font-family: 'TikiIsland';
    font-size: 34px;
    color: #ffe3c5;
}

nav a:hover {
    background: var(--accent);
    color: #fff;
    border-radius: 6px;
}

.dropdown {
  position: relative;
}

.dropdown::before {
  content: "";
  position: absolute;
  top: 100%;   
  left: 0;
  width: 100%;
  height: 15px; 
  background: transparent; 
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--card-bg);
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    list-style: none;
    padding: 10px 0;
    min-width: 180px;
    z-index: 1001;
}

.dropdown-menu li {
    margin: 0;
}

.dropdown-menu a {
    padding: 8px 16px;
    color: var(--accent-dark);
    font-weight: 400;
}

.dropdown-menu a:hover {
    background: var(--accent);
    color: #fff;
}

.dropdown:hover .dropdown-menu {
    display: block;
}