@import url('../style.css'); /*This is to import the colors and font*/

body {
  padding: 0px;
  padding-top: 80px;
}

.menu-box-wrapper {
  background: #1a332d;
  width: 100%;
}

.menu-box-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 75px; 
  max-width: 1300px;
  margin: 200px auto;
}

.menu-custom-box {
  background: linear-gradient(#8A4411 , #A0653B , #D0884A );
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: transform 0.2s ease;
}

.menu-custom-box:hover {
  transform: translateY(-5px);
}

.menu-box-top {
  width: 100%;
  height: 8px; 
  background: var(--accent-dark);
}

.menu-custom-box img {
  width: 100%;
  height: auto;
  display: block;
}

.menu-box-btn {
  display: inline-block;
  margin: 15px 0;
  padding: 10px 20px;
  background: #f77c10;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.2s ease;
}

.menu-box-btn:hover {
  background: var(--accent-dark-hover);
}

.grass {
  background: url("../images/grass vector.svg") no-repeat center bottom;
  background-size: contain;
  height: 200px;
  position: relative;
  top: 200px;
}

.flippedgrass {
  background: url("../images/grass vector.svg") no-repeat center bottom;
  background-size: contain;
  height: 200px;
  position: relative;
  bottom: 200px;

  transform: scaleY(-1); /* flips it vertically */
}

@media(max-width: 1025px){
  .menu-box-grid{
    grid-template-columns: repeat(2,1fr);
  }
}

@media(max-width: 675px){
  .menu-box-grid{
    grid-template-columns: repeat(1,1fr);
  }
}